room {
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

.App> .darkMode{
  
    margin-left: 95%;
}



.dark {
   background-color: #000000;
   color: white;

  
  }
  
  .lit {
   background-color: white;
   color: black;
  
  }
  .dark .head1{
    box-shadow: 0px;
  }
  .darkMode{
    color: var(--main-color);
    background-color: var(--bg-color);
    border: none;
   font-size: larger;

  }
 